# Movie Recommendation System

In [1]:
# importing all dependencies
import pandas as pd

In [2]:
ratings=pd.read_csv('ratings.csv')
movies=pd.read_csv('movies_metadata.csv',low_memory=False)

In [3]:

ratings.drop(columns=['timestamp'], inplace=True)
ratings.head()

   userId  movieId  rating
0       1      110     1.0
1       1      147     4.5
2       1      858     5.0
3       1     1221     5.0
4       1     1246     5.0

In [4]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
selected_columns=['id','title']
movies=movies[selected_columns]

In [7]:
movies.head()

      id                        title
0    862                    Toy Story
1   8844                      Jumanji
2  15602             Grumpier Old Men
3  31357            Waiting to Exhale
4  11862  Father of the Bride Part II

In [8]:
movies = movies.rename(columns={'id': 'movieId'}).copy()
movies.head()

  movieId                        title
0     862                    Toy Story
1    8844                      Jumanji
2   15602             Grumpier Old Men
3   31357            Waiting to Exhale
4   11862  Father of the Bride Part II

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45466 non-null  object
 1   title    45460 non-null  object
dtypes: object(2)
memory usage: 710.5+ KB

In [10]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 595.6 MB

In [11]:
# Convert 'movieId' column to numeric, coerce errors to NaN
movies['movieId'] = pd.to_numeric(movies['movieId'], errors='coerce')

# Drop rows where 'movieId' is NaN
movies.dropna(subset=['movieId'], inplace=True)

In [12]:
movies['movieId'] = movies['movieId'].astype(int)
merged_data=pd.merge(ratings,movies,on='movieId',how='inner')
merged_data.head()

   userId  movieId  rating              title
0       1      110     1.0  Three Colors: Red
1      11      110     3.5  Three Colors: Red
2      22      110     5.0  Three Colors: Red
3      24      110     5.0  Three Colors: Red
4      29      110     3.0  Three Colors: Red

In [13]:
merged_data.shape

(11437637, 4)

In [14]:
# Assuming your DataFrame is named 'df'
movie_data = merged_data.sample(n=20000, random_state=4)
movie_data.shape

(20000, 4)

In [15]:
user_ratings= movie_data.pivot_table(index=['userId'],columns=['title'],values='rating')
user_ratings.head()

title,!Women Art Revolution,$5 a Day,'Gator Bait,'Twas the Night Before Christmas,...And the Pursuit of Happiness,10 Items or Less,10 Things I Hate About You,"10,000 BC",13 Tzameti,15 Minutes,...,Zazie dans le mÃ©tro,Zero for Conduct,Zodiac,Zombie Flesh Eaters,Zombie Holocaust,eXistenZ,xXx,Â¡A volar joven!,Ã€ nos amours,Å Ã­lenÄ› smutnÃ¡ princezna
userId,,,,,,,,,,,,,,,,,,,,,
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# let's drop movies which have less than 10 users who rated it. and fill remaining null values with 0
user_ratings =user_ratings.dropna(thresh=10,axis=1).fillna(0)
user_ratings.head(20)

title,"20,000 Leagues Under the Sea",2001: A Space Odyssey,25th Hour,28 Days Later,28 Weeks Later,300,48 Hrs.,5 Card Stud,8 Mile,88 Minutes,...,X-Men Origins: Wolverine,Y Tu MamÃ¡ TambiÃ©n,Yankee Doodle Dandy,Yesterday,Young Adam,Young Frankenstein,Young and Innocent,Zatoichi,xXx,Ã€ nos amours
userId,,,,,,,,,,,,,,,,,,,,,
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
151,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
321,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# similarity Matrix
item_similarity_df=user_ratings.corr(method='pearson')
item_similarity_df.head(20)

title,"20,000 Leagues Under the Sea",2001: A Space Odyssey,25th Hour,28 Days Later,28 Weeks Later,300,48 Hrs.,5 Card Stud,8 Mile,88 Minutes,...,X-Men Origins: Wolverine,Y Tu MamÃ¡ TambiÃ©n,Yankee Doodle Dandy,Yesterday,Young Adam,Young Frankenstein,Young and Innocent,Zatoichi,xXx,Ã€ nos amours
title,,,,,,,,,,,,,,,,,,,,,
"20,000 Leagues Under the Sea",1.000000,-0.001993,-0.000950,-0.001248,-0.001384,-0.001347,-0.002906,-0.002985,-0.001204,-0.001180,...,-0.001316,-0.001984,-0.000997,-0.001608,-0.000936,-0.000949,-0.002993,-0.001402,-0.001130,-0.000929
2001: A Space Odyssey,-0.001993,1.000000,-0.001160,-0.001523,-0.001689,-0.001643,-0.003546,-0.003642,-0.001470,-0.001440,...,-0.001606,-0.002421,-0.001216,-0.001962,-0.001142,-0.001158,-0.003653,-0.001711,-0.001379,-0.001134
25th Hour,-0.000950,-0.001160,1.000000,-0.000726,-0.000805,-0.000784,-0.001691,-0.001737,-0.000701,-0.000687,...,-0.000766,-0.001154,-0.000580,-0.000936,-0.000545,-0.000552,-0.001742,-0.000816,-0.000657,-0.000541
28 Days Later,-0.001248,-0.001523,-0.000726,1.000000,-0.001058,-0.001029,-0.002221,-0.002281,-0.000921,-0.000902,...,-0.001006,-0.001516,-0.000762,-0.001229,-0.000715,-0.000726,-0.002288,-0.001071,-0.000863,-0.000710
28 Weeks Later,-0.001384,-0.001689,-0.000805,-0.001058,1.000000,-0.001141,-0.002463,-0.002529,-0.001021,-0.001000,...,-0.001115,0.016148,-0.000845,-0.001363,-0.000793,-0.000804,-0.002536,-0.001188,-0.000957,-0.000787
300,-0.001347,-0.001643,-0.000784,-0.001029,-0.001141,1.000000,-0.002397,-0.002461,-0.000993,-0.000973,...,-0.001085,-0.001636,-0.000822,-0.001326,-0.000772,-0.000783,-0.002468,-0.001156,-0.000932,-0.000766
48 Hrs.,-0.002906,-0.003546,-0.001691,-0.002221,-0.002463,-0.002397,1.000000,-0.005311,-0.002143,-0.002100,...,-0.002342,-0.003530,-0.001774,-0.002861,-0.001665,-0.001689,0.002764,-0.002495,-0.002010,-0.001654
5 Card Stud,-0.002985,-0.003642,-0.001737,-0.002281,-0.002529,-0.002461,-0.005311,1.000000,-0.002201,-0.002157,...,-0.002406,-0.003626,-0.001822,-0.002939,-0.001710,-0.001735,-0.005471,-0.002562,-0.002065,-0.001698
8 Mile,-0.001204,-0.001470,-0.000701,-0.000921,-0.001021,-0.000993,-0.002143,-0.002201,1.000000,-0.000870,...,-0.000971,-0.001463,-0.000735,-0.001186,-0.000690,-0.000700,-0.002208,-0.001034,-0.000833,-0.000685
88 Minutes,-0.001180,-0.001440,-0.000687,-0.000902,-0.001000,-0.000973,-0.002100,-0.002157,-0.000870,1.000000,...,-0.000951,-0.001434,-0.000720,-0.001162,-0.000676,-0.000686,-0.002163,-0.001013,-0.000816,-0.000672
A Bridge Too Far,-0.001453,-0.001773,-0.000845,-0.001110,-0.001231,-0.001198,-0.002585,-0.002655,-0.001071,-0.001050,...,-0.001171,-0.001765,-0.000887,-0.001430,-0.000832,-0.000844,-0.002663,-0.001247,-0.001005,-0.000827
A Brief History of Time,-0.001498,-0.001828,-0.000871,-0.001145,-0.001269,-0.001235,-0.002665,-0.002737,-0.001105,-0.001082,...,-0.001207,-0.001819,-0.000914,-0.001475,-0.000858,-0.000871,-0.002745,-0.001286,-0.001036,-0.000852
A Clockwork Orange,-0.001970,-0.002403,-0.001146,-0.001505,-0.001669,-0.001624,-0.003505,-0.003600,-0.001453,-0.001423,...,-0.001588,-0.002393,-0.001202,-0.001939,-0.001129,-0.001145,-0.003610,-0.001691,-0.001363,-0.001121
A Kiss Before Dying,-0.001062,-0.001296,-0.000618,-0.000812,-0.000900,-0.000876,-0.001891,-0.001942,-0.000784,-0.000768,...,-0.000856,-0.001291,-0.000648,-0.001046,-0.000609,-0.000618,-0.001947,-0.000912,-0.000735,-0.000605
A Nightmare on Elm Street,-0.002993,-0.003652,-0.001742,-0.002288,-0.002536,-0.002468,-0.005326,-0.005470,-0.002207,-0.002163,...,-0.002412,-0.003636,-0.001827,-0.002947,-0.001715,-0.001740,-0.005486,-0.002569,-0.002071,-0.001703
A Perfect Murder,-0.001079,-0.001317,0.077930,-0.000825,-0.000914,-0.000890,-0.001920,-0.001972,-0.000796,-0.000780,...,-0.000870,-0.001311,-0.000659,-0.001062,-0.000618,-0.000627,-0.001978,-0.000926,-0.000746,-0.000614
A River Runs Through It,-0.002486,-0.003033,-0.001446,-0.001900,-0.002106,-0.002050,-0.004423,-0.004543,-0.001833,-0.001796,...,-0.002003,-0.003020,-0.001517,-0.002447,-0.001425,-0.001445,-0.004556,-0.002134,-0.001720,-0.001414
A Tale of Two Cities,-0.001370,-0.001672,-0.000797,-0.001047,-0.001161,-0.001130,-0.002438,-0.002504,-0.001011,-0.000990,...,-0.001104,-0.001665,-0.000836,-0.001349,-0.000785,-0.000796,-0.002511,-0.001176,-0.000948,-0.000780
A Time to Kill,-0.001352,0.029165,-0.000787,-0.001034,-0.001146,-0.001115,-0.002406,-0.002471,-0.000997,-0.000977,...,-0.001090,-0.001643,-0.000825,-0.001331,-0.000775,-0.000786,-0.002478,-0.001161,-0.000935,-0.000769
A Very Long Engagement,-0.001001,-0.001222,-0.000583,-0.000765,-0.000848,-0.000826,-0.001782,-0.001830,-0.000738,-0.000724,...,-0.000807,-0.001216,-0.000611,-0.000986,-0.000574,-0.000582,-0.001835,-0.000859,-0.000693,-0.000570

In [18]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
print(item_similarity_df.index)

Index(['20,000 Leagues Under the Sea', '2001: A Space Odyssey', '25th Hour',
       '28 Days Later', '28 Weeks Later', '300', '48 Hrs.', '5 Card Stud',
       '8 Mile', '88 Minutes',
       ...
       'X-Men Origins: Wolverine', 'Y Tu MamÃ¡ TambiÃ©n', 'Yankee Doodle Dandy',
       'Yesterday', 'Young Adam', 'Young Frankenstein', 'Young and Innocent',
       'Zatoichi', 'xXx', 'Ã€ nos amours'],
      dtype='object', name='title', length=546)

In [22]:
# Our Movie Recommendation System
def get_similar_movies(movie_name, user_rating, item_similarity_df):
    similar_score = item_similarity_df[movie_name] * (user_rating - 2.5)
    similar_score = similar_score.sort_values(ascending=False)
    similar_movies_df = pd.DataFrame({'Movie Name': similar_score.index, 'Similarity Score': similar_score.values})
    return similar_movies_df

# Initialize an empty DataFrame to store similar movies
similar_movies = pd.DataFrame()

# Let's make some movie recommendations to a user with some feedback given by the them
movie_list=[('A Bridge Too Far',2),
            ('Yankee Doodle Dandy',1),
            ('A Perfect Murder',4),
            ('A Time to Kill',4),
            ('X-Men Origins: Wolverine',5)]

# Iterate over the list of movie names and user ratings
for movie, rating in movie_list:
    similar_movies = pd.concat([similar_movies, get_similar_movies(movie, rating, item_similarity_df)], ignore_index=True)

# Display the Recommended movies to the user
similar_movies.head(10)

                           Movie Name  Similarity Score
0            The Million Dollar Hotel          0.001705
1  Terminator 3: Rise of the Machines          0.001640
2                     Monsoon Wedding          0.001617
3                             Solaris          0.001523
4                  Once Were Warriors          0.001506
5                        The 39 Steps          0.001462
6                   Three Colors: Red          0.001407
7                    The Conversation          0.001407
8                      License to Wed          0.001398
9                  Young and Innocent          0.001331